<section id="tabs">
  <ul class="nav nav-tabs nav-justified md-tabs" id="myTab">
    <li class="nav-item" id="tableFormat"> <a href="#tableView"
    class="nav-link" data-toggle="tab" (click)="showSelectedTab('productView')"
    >Product View</a> </li>
    <li class="nav-item" id="graphFormat"> <a href="#barChatView"
    class="nav-link" data-toggle="tab" (click)="showSelectedTab('cart')"
    >Cart</a> </li>
  </ul>

  <div class="row viewPage" *ngIf="!viewPage">
    <div class="feild" *ngFor="let product of productInformation; let i = index;">
        <div class=" ml-lg-2 ml-md-2 mb-5" style=" width:300px;">
            <div class="card mt-2 mx-0 mb-4 mr-lg-4 mr-md-4 px-2" data-toggle="tooltip" data-placement="right" title="{{product.title}}" (click)="viewProduct(product)">
                <h4 class="text-center font-weight-bold pt-3" data-toggle="tooltip" data-placement="right" title="{{product.title}}"  *ngIf="product.title !== ''">{{product.title}}</h4><h4 class="text-left font-weight-bold pt-3"  *ngIf="product.title == ''">&nbsp;</h4>
                <div class="imgWidth" *ngIf="product.image !=null"> <img class="card-img-top w-100 h-100" src="{{product.image}}" alt="Card image cap"> </div>
                <p class="text-center">{{product.description.slice(0,15)}}</p>
                <h4 class="text-left font-weight-bold pt-3" data-toggle="tooltip" data-placement="right" title="{{product.description}}"  *ngIf="product.description !== ''">{{product.description.slice(0,45)}}<small *ngIf="product.description.length>45">....</small></h4><h4 class="text-left font-weight-bold pt-3"  *ngIf="product.description == ''">&nbsp;</h4>

                <div class="row">
                  <div class="col-sm-6">
                    <P> Rating: {{product.rating.rate}}</P>
                  </div>
                  <div class="col-sm-6 ">
                    <P >Price: {{product.price}}</P>
                  </div>
                </div>

                <div class="row" *ngIf="cartView">
                  <div class="col-sm-6">
                      <p> Total Price : {{ product.totalPrice}} </p>
                  </div>
                  <div class="col-sm-6">
                    <p> Total Count : {{ product.count}} </p>
                </div>
                </div>

                <div class="row" *ngIf="cartView">
                  <div class="col-sm-6 ml-5 mt-3 text-right">
                    Add :
                  </div>
                  <div class="col-sm-6 text-left">
                    <p class="" style="font-size:25px;"><span (click) ="addCart(product)">+</span> &nbsp;&nbsp; <span>-</span></p>
                  </div>
                </div>
                <div class="float-right mb-2" (click) ="addCart(product)" *ngIf="productView">
                  <button type="button" class="btn btn-primary mb-2" style="margin-left: 40%;margin-bottom: 5px;">Cart</button>
                </div>
            </div>
        </div>
        <div *ngIf="(i + 1) % 4 === 0" class="break"></div>
      </div>

      <div class="row" *ngIf =" productInformation.length == 0">
          <h4> No product found in Cart ..</h4>
      </div>

</div>

<div class="row viewPage" *ngIf="productInformation.length > 0 && cartView && !viewPage">
  <div class="col">
      <p> Total pay amount :   </p>
  </div>
  <div class="col ml-3">
    <p> {{ totalPayAmount | number: '1.0-0'}} </p>
  </div>
</div>

<div class="row viewPage" *ngIf="productInformation.length > 0 && cartView && !viewPage">
  <button type="button" class="btn btn-primary mb-2">Buy</button>
</div>

<div class="viewPage" *ngIf="viewPage">
  <div class="row">
    <div class="col">
      <div class="imgWidth" *ngIf="selectedProduct.image !=null"> <img class="card-img-top w-25 h-25" src="{{selectedProduct.image}}" alt="Card image cap"> </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h3 class="text-center"> Descrption : {{selectedProduct.description.slice(0,15)}}</h3>
    </div>
  </div>

  <div class="row ml-5">
    <div class="col-sm-6">
      <P> Rating: {{selectedProduct.rating.rate}}</P>
    </div>
    <div class="col-sm-6 ">
      <P >Price: {{selectedProduct.price}}</P>
    </div>
  </div>

  <div class="float-right mb-2" (click) ="addCart(selectedProduct)" >
    <button type="button" class="btn btn-primary mb-2">Cart</button>
  </div>

  <div class="float-right mb-2" (click) ="backHomePage()" >
    <button type="button" class="btn btn-primary mb-2">Back</button>
  </div>
  
</div>



</section>